.btn__fixed {
    position: fixed;
}

.btn__big {
    padding: 0 1rem;
}

.btn__rounded {
    border-radius: 5px;
    height: 4rem;
}

.btn__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 4rem;
    height: 4rem;
}

.btn__swiper {
    position: absolute;
    z-index: 3;
    top: 50%;
    font-size: 2.4rem;
    cursor: pointer;
    transform: translateY(-50%);
}

.swiper__next {
    right: .66rem;
}

.swiper__prev {
    left: .66rem;
}